@use '../../../styles/Entry' as *;

// region [Component Token]

$accordion-border-color: $kku-border-color-default;
$accordion-background-color-base: $kku-background-color-default;
$accordion-background-color-hover: $kku-background-color-hover;
$accordion-text-color: $kku-text-color-primary;

$accordion-border-radius: $kku-border-radius-default;

$accordion-width-small: 480px;
$accordion-width-medium: 640px;

// endregion

.k-accordion {
  border: 1px solid $accordion-border-color;
  border-radius: $accordion-border-radius;
  color: $accordion-text-color;
  background-color: $accordion-background-color-base;

  &[data-open="true"] {
    .k-accordion__summary {
      border-bottom: 1px solid $accordion-border-color;
    }
  }

  .k-accordion__summary {
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-bottom: 1px solid transparent;
    list-style-type: none; // #Marker Style[Other Browser]
    user-select: none;
    cursor: pointer;

    @include kku-transition;
    @include kku-focus-visible;
    transition-property: background, border-bottom-color;

    &:hover {
      background-color: $accordion-background-color-hover;
    }

    // #Marker Style[Safari]
    &::-webkit-details-marker {
      display: none;
    }

    .k-accordion__summary__container {
      display: flex;
      align-items: center;
      justify-content: flex-start;
      color: var(--default-font-color);
    }
  }

  .k-accordion__content {
    @include kku-transition;
    transition-property: max-height;
    background-color: var(--white-color);
    overflow: hidden;
  }

  &.k-accordion--small {
    width: 100%;
    max-width: $accordion-width-small;
    @include kku-text-small;

    .k-accordion__summary, .k-accordion__content > .k-accordion__content__container {
      padding: $kku-spacing-8 $kku-spacing-12;
    }
  }

  &.k-accordion--medium {
    width: 100%;
    max-width: $accordion-width-medium;
    @include kku-text-medium;

    .k-accordion__summary, .k-accordion__content > .k-accordion__content__container {
      padding: $kku-spacing-12 $kku-spacing-16;
    }
  }
}


.#{$kku-dark-mode-signature} .k-accordion {
}
