@use '../../../styles/Entry' as *;

// region [Component Tokens]
// endregion

.k-fullscreen {
  display: flex;
  justify-content: center;
  align-items: center;
}

.k-fullscreen__spinner {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: $kku-full-screen-loader-z-index;
}

.#{$kku-dark-mode-signature} .k-fullscreen {}


