.k-chip {

    display: flex;
    justify-content: center;
    align-items: center;

    border-width: 1px;
    border-style: solid;
    cursor: pointer;
    user-select: none;

    // Variants
    &.k-chip--primary {
        color: $k-white-color;
        border: none;
        background-color: $k-primary-color;
    }
    &.k-chip--outlined {
        color: $k-primary-color;
        border-color: $k-primary-color;
    }
    &.k-chip--default {
        color: $k-gray-color-400;
        border-color: $k-border-default-color;
        background: $k-gray-color-50;
    }

    // Size
    &.k-chip--large {
        gap: $k-spacing-4;
        height: 30px;
        padding: $k-spacing-6 $k-spacing-12 $k-spacing-6 $k-spacing-12;
        border-radius: 3px;
        font-size: $k-font-size-body-1;

        &.k-chip--closeable { padding-right: $k-spacing-6; }
    }

    &.k-chip--medium {
        gap: $k-spacing-2;
        height: 28px;
        padding: $k-spacing-2 $k-spacing-10 $k-spacing-2 $k-spacing-10;
        border-radius: 3px;
        font-size: $k-font-size-body-2;

        &.k-chip--closeable { padding-right: $k-spacing-4; }
    }

    &.k-chip--small {
        gap: $k-spacing-2;
        height: 26px;
        padding: $k-spacing-2 $k-spacing-8 $k-spacing-2 $k-spacing-8;
        border-radius: 3px;
        font-size: $k-font-size-body-3;

        &.k-chip--closeable { padding-right: $k-spacing-4; }
    }

}
