.k-accordion {
  border: 1px solid var(--gray-color-300);
  border-radius: var(--default-border-radius);
  overflow: hidden;

  &.k-accordion--open .k-accordion__summary__icon__wrapper .k-accordion__summary__icon {
    transform: rotate(180deg);
  }

.k-accordion__summary {
  display: flex;
  justify-content: space-between;
  align-items: center;
  transition: background-color 0.3s ease;
  background: var(--gray-color-50);
  list-style-type: none; // #Marker Style[Other Browser]
  user-select: none;
  cursor: pointer;

  &:hover {
    background: var(--gray-color-100);
  }

  // #Marker Style[Safari]
  &::-webkit-details-marker {
    display: none;
  }


  .k-accordion__summary__container {
    display: flex;
    align-items: center;
    justify-content: flex-start;
    color: var(--default-font-color);
  }

  .k-accordion__summary__icon__wrapper {
    @include k-center-flex-wrap;

    .k-accordion__summary__icon {
      @include k-transition-2;
      cursor: pointer;
    }
  }
}

.k-accordion__content {
  max-height: 0;
  height: auto;
  background-color: var(--white-color);
  overflow: hidden;
  transition: max-height 0.3s ease;
}

&.k-accordion--large {
  @include k-body-1;

  .k-accordion__summary, .k-accordion__content__wrapper {
    padding: var(--spacing-16);
  }

  .k-accordion__summary__icon ~ .k-accordion__summary__text {
    margin-left: var(--spacing-12);
  }
}

&.k-accordion--medium {
  @include k-body-1;

  .k-accordion__summary, .k-accordion__content__wrapper {
    padding: var(--spacing-12) var(--spacing-14);
  }

  .k-accordion__summary__icon ~ .k-accordion__summary__text {
    margin-left: var(--spacing-10);
  }
}

&.k-accordion--small {
  @include k-body-1;

  .k-accordion__summary, .k-accordion__content__wrapper {
    padding: var(--spacing-8) var(--spacing-12);
  }

  .k-accordion__summary__icon ~ .k-accordion__summary__text {
    margin-left: var(--spacing-8);
  }
}

}


.#{$dark-class-name} .k-accordion {

  border-color: var(--dark-default-background-color);

  .k-accordion__summary {
    background: var(--gray-color-800);

    .k-accordion__summary__container {
      color: var(--dark-font-color);
    }

    .k-accordion__summary__icon__wrapper {

      .k-accordion__summary__icon {
        color: var(--white-color);
      }
    }
  }

  .k-accordion__content {
    color: var(--dark-font-color);
    background-color: var(--gray-color-700);
  }
}
