.k-accordion {
    border: 1px solid $k-border-default-color;
    border-radius: 4px;
    overflow: hidden;

    .k-accordion__summary {
        display: flex;
        justify-content: space-between;
        align-items: center;
        cursor: pointer;
        transition: background-color 0.3s ease;
        background: $k-gray-color-50;
        user-select: none;

        &:hover { background: $k-gray-color-100; }

        list-style-type: none; // #Marker Style[Other Browser]
        &::-webkit-details-marker { display: none; } // #Marker Style[Safari]

        .k-accordion__summary__container {
            display: flex;
            align-items: center;
            justify-content: flex-start;
        }

        .k-accordion__summary__icon {
            @include k-transition-2;
        }

        .k-accordion__summary__icon--close {
            transform: rotate(180deg);
        }
    }


    &.k-accordion--large {
        @include k-body-1;

        .k-accordion__summary, .k-accordion__content { padding: $k-spacing-16; }

        .k-accordion__summary__icon ~ .k-accordion__summary__text {
            margin-left: $k-spacing-12;
        }
    }

    &.k-accordion--medium {
        @include k-body-1;

        .k-accordion__summary, .k-accordion__content { padding: $k-spacing-12 $k-spacing-14; }

        .k-accordion__summary__icon ~ .k-accordion__summary__text {
            margin-left: $k-spacing-10;
        }
    }

    &.k-accordion--small {
        @include k-body-2;

        .k-accordion__summary, .k-accordion__content { padding: $k-spacing-8 $k-spacing-12; }

        .k-accordion__summary__icon ~ .k-accordion__summary__text {
            margin-left: $k-spacing-8;
        }
    }

}
