.k-switch {
    position: relative;
    border: none;
    cursor: pointer;
    margin: 0;
    padding: 0;
    background-color: var(--gray-color-200);
    overflow: hidden;

    .k-switch__active-background, .k-switch__default-background {
        position: absolute;
        top: 0; left: 0;
        width: 100%; height: 100%;
        opacity: 0;
        transition: opacity 0.24s ease;
    }

    .k-switch__active-background { background-color: #068FFF; }

    &.k-switch--on > .k-switch__active-background { opacity: 1; }
    &.k-switch--on > .k-switch__default-background { opacity: 0; }


    &.k-switch--disabled {
        cursor: not-allowed;

        &:after {
            content: '';
            position: absolute;
            top: 0;
            left: 0;
            width: 100%;
            height: 100%;
            background: var(--black-color);
            opacity: 0.16;
            z-index: 1;
        }
    }

    .k-switch__toggle {
        position: absolute;
        font-size: 0;
        background: var(--white-color);
        border-radius: 50%;
        transition: left 0.3s ease;
        z-index: 1;
    }

    // region[Size]
    &.k-switch--medium {
        width: 54px;
        height: 30px;
        border-radius: 16px;

        .k-switch__toggle { width: 24px; height: 24px;}

        &.k-switch--on .k-switch__toggle { top: 3px; left: calc((100% - 30px) + 3px); }
        &.k-switch--off .k-switch__toggle { top: 3px; left: 3px; }
    }

    &.k-switch--small {
        width: 48px;
        height: 26px;
        border-radius: 14px;

        .k-switch__toggle { width: 20px; height: 20px;}

        &.k-switch--on .k-switch__toggle { top: 3px; left: calc((100% - 26px) + 3px); }
        &.k-switch--off .k-switch__toggle { top: 3px; left: 3px; }
    }
    // endregion
}