
.k-button {

    border: 1px solid $k-gray-color-400;
    background: $k-gray-color-50;
    border-radius: 4px;
    cursor: pointer;

    // Size
    &.k-button--large {
        padding: 0 $k-spacing-24;
        height: 36px;
    }
    &.k-button--medium {
        padding: 0 $k-spacing-16;
        height: 32px;
    }
    &.k-button--small {
        padding: 0 $k-spacing-12;
        height: 28px;
    }


}
