
.k-button {
    position: relative;
    display: inline-flex;
    justify-content: center;
    align-items: center;

    border: 1px solid $k-gray-color-400;
    background: $k-gray-color-50;
    border-radius: 3px;
    overflow: hidden;
    cursor: pointer;
    user-select: none;

    //transition-property: background-color, border, transform;
    @include k-transition-3;

    // Variant
    &.k-button--primary {
        color: $k-white-color;
        border-color: $k-primary-color;
        background: $k-primary-color;

        &:hover {
            border-color: $k-primary-hover-color;
            background: $k-primary-hover-color;
        }

    }
    &.k-button--outlined {
        color: $k-primary-color;
        border-color: $k-primary-color;
        background: $k-white-color;

        &:hover {
            border-color: $k-primary-hover-color;
            background: $k-white-hover-color;
        }
    }
    &.k-button--default {
        color: $k-gray-color-700;
        border-color: $k-gray-color-700;
        background: $k-white-color;

        &:hover {
            border-color: darken($k-gray-color-600, $k-hover-overlay-percent);
            background: $k-white-hover-color;
        }
    }

    // Size
    &.k-button--large {
        height: 36px;
        padding: 0 $k-spacing-24;

        .k-button-content { @include k-body-1; }
    }
    &.k-button--medium {
        height: 32px;
        padding: 0 $k-spacing-16;

        .k-button-content { @include k-body-2; }
    }
    &.k-button--small {
        height: 28px;
        padding: 0 $k-spacing-12;

        .k-button-content { @include k-body-3; }
    }
}
