@use '../../../styles/Entry' as *;

.k-menu {
  display: inline-flex;
  flex-direction: column;
  border: 1px solid $kku-border-color-default;
  border-radius: $kku-border-radius-default;
  padding: 0;
  margin: 0;

  &.k-menu--small {
    width: 120px;
  }

  &.k-menu--medium {
    width: 164px;
  }

  .k-menu-item:first-child {
    border-top-right-radius: calc(#{$kku-border-radius-default} - 1px);
    border-top-left-radius: calc(#{$kku-border-radius-default} - 1px);
  }
  .k-menu-item:last-child {
    border-bottom-right-radius: calc(#{$kku-border-radius-default} - 1px);
    border-bottom-left-radius: calc(#{$kku-border-radius-default} - 1px);
  }
}


.#{$kku-dark-mode-signature} .k-menu {
}
