
* { box-sizing: border-box;}


.ripple {
    position: absolute;
    opacity: 0.1;
    border-radius: 50%;
}

@keyframes ripple-effect {
    0% { transform: scale(0.1); opacity: 0.32; }
    100% { transform: scale(1); opacity: 0.1; }
}

.k-spinner--loading {
    display: inline-block;
    border: 3px solid #FFF;
    border-bottom-color: #FF3D00;
    border-radius: 50%;
    animation: rotation 1s linear infinite;
}

@keyframes rotation {
    0% { transform: rotate(0deg); }
    100% { transform: rotate(360deg); }
}
