@use "./reference-tokens" as *;

@mixin kku-text-xlarge {
  font-size: $kku-text-size-xlarge;
  line-height: $kku-line-height-xlarge;
}

@mixin kku-text-large {
  font-size: $kku-text-size-large;
  line-height: $kku-line-height-large;
}

@mixin kku-text-medium {
  font-size: $kku-text-size-medium;
  line-height: $kku-line-height-medium;
}

@mixin kku-text-small {
  font-size: $kku-text-size-small;
  line-height: $kku-line-height-small;
}

@mixin kku-text-xsmall {
  font-size: $kku-text-size-xsmall;
  line-height: $kku-line-height-xsmall;
}