@use "./reference-tokens" as *;
@use "./system-tokens" as *;

@mixin kku-text-xsmall {
  font-size: $kku-text-size-xsmall;
  line-height: $kku-line-height-xsmall;
}
@mixin kku-text-small {
  font-size: $kku-text-size-small;
  line-height: $kku-line-height-small;
}
@mixin kku-text-medium {
  font-size: $kku-text-size-medium;
  line-height: $kku-line-height-medium;
}
@mixin kku-text-large {
  font-size: $kku-text-size-large;
  line-height: $kku-line-height-large;
}
@mixin kku-text-xlarge {
  font-size: $kku-text-size-xlarge;
  line-height: $kku-line-height-xlarge;
}

@mixin kku-focus-visible {
  outline: 2px solid $kku-primary-color-base;
  outline-offset: 2px;
}

@mixin kku-ellipsis {
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}