@use "/src/styles/init/reference-tokens" as *;

:root {
  --kku-text-color-primary: #{$kku-gray-color-900};
  --kku-text-color-secondary: #{$kku-gray-color-700};
  --kku-text-color-tertiary: #{$kku-gray-color-500};
  --kku-text-color-disabled: #{$kku-gray-color-400};
  --kku-text-color-link: #{$kku-blue-color-400};
  --kku-text-color-placeholder: #{$kku-gray-color-500};

  --kku-border-color-base: #{$kku-gray-color-300};
  --kku-border-color-hover: #{$kku-gray-color-500};
  --kku-border-color-disabled: #{$kku-gray-color-300};

  --kku-background-color-base: #{$kku-white-color};
  --kku-background-color-hover: #{$kku-gray-color-100};
  --kku-background-color-disabled: #{$kku-gray-color-200};

  --kku-background-color-ripple: #{$kku-gray-color-900};

  --kku-primary-color-base: #{$kku-blue-color-400};
  --kku-primary-color-hover: #{$kku-blue-color-500};
  --kku-primary-color-disabled: #{$kku-blue-color-800};

  --kku-success-color-base: #{$kku-green-color-400};
  --kku-success-color-hover: #{$kku-green-color-500};

  --kku-warning-color-base: #{$kku-orange-color-400};
  --kku-warning-color-hover: #{$kku-orange-color-500};

  --kku-error-color-base: #{$kku-red-color-400};
  --kku-error-color-hover: #{$kku-red-color-500};

  --kku-element-height-medium: 34px;
  --kku-element-height-small: 30px;
}


$kku-text-color-primary: var(--kku-text-color-primary);
$kku-text-color-secondary: var(--kku-text-color-secondary);
$kku-text-color-tertiary: var(--kku-text-color-tertiary);
$kku-text-color-disabled: var(--kku-text-color-disabled);
$kku-text-color-link: var(--kku-text-color-link);
$kku-text-color-placeholder: var(--kku-text-color-placeholder);

$kku-border-color-base: var(--kku-border-color-base);
$kku-border-color-hover: var(--kku-border-color-hover);
$kku-border-color-disabled: var(--kku-border-color-disabled);

$kku-background-color-base: var(--kku-background-color-base);
$kku-background-color-hover: var(--kku-background-color-hover);
$kku-background-color-disabled: var(--kku-background-color-disabled);

$kku-background-color-ripple: var(--kku-background-color-ripple);

$kku-primary-color-base: var(--kku-primary-color-base);
$kku-primary-color-hover: var(--kku-primary-color-hover);
$kku-primary-color-disabled: var(--kku-primary-color-disabled);

$kku-success-color-base: var(--kku-success-color-base);
$kku-success-color-hover: var(--kku-success-color-hover);

$kku-warning-color-base: var(--kku-warning-color-base);
$kku-warning-color-hover: var(--kku-warning-color-hover);

$kku-error-color-base: var(--kku-error-color-base);
$kku-error-color-hover: var(--kku-error-color-hover);

$kku-text-size-x-large: var(--kku-text-size-x-large);
$kku-text-size-large: var(--kku-text-size-large);
$kku-text-size-medium: var(--kku-text-size-medium);
$kku-text-size-small: var(--kku-text-size-small);
$kku-text-size-x-small: var(--kku-text-size-x-small);

$kku-element-height-medium: var(--kku-element-height-medium);
$kku-element-height-small: var(--kku-element-height-small);


$kku-dark-mode-signature: 'dark';

.#{$kku-dark-mode-signature}:root {
  --kku-text-color-primary: #{$kku-gray-color-100};
  //--kku-text-color-secondary: #{$kku-gray-color-700};
  //--kku-text-color-tertiary: #{$kku-gray-color-500};
  --kku-text-color-disabled: #{$kku-gray-color-600};
  --kku-text-color-link: #{$kku-blue-color-400};

  --kku-border-color-base: #{$kku-gray-color-700};
  --kku-border-color-hover: #{$kku-gray-color-700};
  --kku-border-color-disabled: #{$kku-gray-color-700};

  --kku-background-color-base: #{$kku-gray-color-900};
  --kku-background-color-hover: #{$kku-gray-color-800};
  --kku-background-color-disabled: #{$kku-gray-color-800};

  --kku-background-color-ripple: #{$kku-gray-color-300};
}