

$k-spacing-2: 2px;
$k-spacing-4: 4px;
$k-spacing-8: 8px;
$k-spacing-12: 12px;
$k-spacing-16: 16px;
$k-spacing-20: 20px;
$k-spacing-24: 24px;
$k-spacing-28: 28px;
$k-spacing-32: 32px;
$k-spacing-36: 36x;
$k-spacing-40: 40px;

$k-black-color: #000000;
$k-white-color: #ffffff;

$k-primary-color: #D0F288;

$k-gray-color-50: #F8F9FA;
$k-gray-color-100: #F1F3F5;
$k-gray-color-200: #E8EBED;
$k-gray-color-300: #DEE2E6;
$k-gray-color-400: #C9CDD2;
$k-gray-color-500: #9EA4AA;
$k-gray-color-600: #72787F;
$k-gray-color-700: #454C53;
$k-gray-color-800: #26282B;
$k-gray-color-900: #1B1D1F;
