// region [SCSS variable]


// region [Percent]

$k-background-hover-percent: 8% !default;
$k-background-disabled-percent: 4% !default;
$k-border-hover-percent: 40%;

// endregion


// region [Colors]

$k-primary-color: #068FFF !default;
$k-primary-hover-color: darken($k-primary-color, $k-background-hover-percent) !default;
$k-primary-disabled-color: darken($k-primary-color, $k-background-disabled-percent) !default;

$k-secondary-error: #ED2B2A !default;
$k-secondary-green: #7DCE13 !default;
$k-secondary-yellow: #FFFA4D !default;
$k-secondary-blue: #0079FF !default;


$k-white-color: #ffffff !default;
$k-white-hover-color: darken($k-white-color, $k-background-hover-percent) !default;
$k-white-disabled-color: darken($k-white-color, $k-background-disabled-percent) !default;


$k-black-color: #000000 !default;
$k-black-hover-color: lighten($k-black-color, $k-background-hover-percent) !default;


$k-gray-color-50: darken($k-white-color, 0.5%) !default;
$k-gray-color-100: darken($k-white-color, 10%) !default;
$k-gray-color-200: darken($k-white-color, 20%) !default;
$k-gray-color-300: darken($k-white-color, 30%) !default;
$k-gray-color-400: darken($k-white-color, 40%) !default;
$k-gray-color-500: darken($k-white-color, 50%) !default;
$k-gray-color-600: darken($k-white-color, 60%) !default;
$k-gray-color-700: darken($k-white-color, 70%) !default;
$k-gray-color-800: darken($k-white-color, 80%) !default;
$k-gray-color-900: darken($k-white-color, 90%) !default;


$k-border-default-color: $k-gray-color-200;
$k-border-default-hover-color: darken($k-border-default-color, $k-border-hover-percent);

// endregion


// region [Font Color]

$k-default-font-color: $k-gray-color-800 !default;
$k-disabled-font-color: lighten($k-default-font-color, 48%) !default;
$k-placeholder-font-color: $k-gray-color-300 !default;

// endregion


// region [Fonts Style]

$k-font-size-title-1: 26px !default;
$k-font-size-title-2: 24px !default;
$k-font-size-title-3: 22px !default;

$k-line-height-title-1: 28px !default;
$k-line-height-title-2: 26px !default;
$k-line-height-title-3: 24px !default;

$k-font-size-sub-1: 22px !default;
$k-font-size-sub-2: 20px !default;
$k-font-size-sub-3: 18px !default;

$k-font-size-label-1: 16px !default;
$k-font-size-label-2: 14px !default;
$k-font-size-label-3: 12px !default;

$k-line-height-label-1: 22px !default;
$k-line-height-label-2: 20px !default;
$k-line-height-label-3: 18px !default;

$k-line-height-sub-1: 24px !default;
$k-line-height-sub-2: 22px !default;
$k-line-height-sub-3: 20px !default;

$k-font-weight-title: 600 !default;
$k-font-weight-body: 400 !default;
$k-font-weight-sub: 500 !default;

$k-font-size-body-1: 18px !default;
$k-font-size-body-2: 16px !default;
$k-font-size-body-3: 14px !default;

$k-line-height-body-1: 22px !default;
$k-line-height-body-2: 20px !default;
$k-line-height-body-3: 18px !default;

$k-font-weight-body-1: 400 !default;
$k-font-weight-body-2: 400 !default;
$k-font-weight-body-3: 400 !default;


// endregion


// region [z-index]

$k-select-z-index: 10;

// endregion


:root {
    --k-primary-color: #{$k-primary-color};
    --k-primary-hover-color: #{$k-primary-hover-color};

    --k-secondary-color-error: #{$k-secondary-error};
    --k-secondary-color-green: #{$k-secondary-green};
    --k-secondary-color-yellow: #{$k-secondary-yellow};
    --k-secondary-color-blue: #{$k-secondary-blue};

    --k-white-color: #{$k-white-color};
    --k-white-hover-color: #{$k-white-hover-color};

    --k-black-color: #{$k-black-color};
    --k-black-hover-color: #{$k-black-hover-color};

    --k-gray-color-50: #{$k-gray-color-50};
    --k-gray-color-100: #{$k-gray-color-100};
    --k-gray-color-200: #{$k-gray-color-200};
    --k-gray-color-300: #{$k-gray-color-300};
    --k-gray-color-400: #{$k-gray-color-400};
    --k-gray-color-500: #{$k-gray-color-500};
    --k-gray-color-600: #{$k-gray-color-600};
    --k-gray-color-700: #{$k-gray-color-700};
    --k-gray-color-800: #{$k-gray-color-800};
    --k-gray-color-900: #{$k-gray-color-900};
}


$k-spacing-2: 2px !default;
$k-spacing-4: 4px !default;
$k-spacing-6: 6px !default;
$k-spacing-8: 8px !default;
$k-spacing-10: 10px !default;
$k-spacing-12: 12px !default;
$k-spacing-14: 14px !default;
$k-spacing-16: 16px !default;
$k-spacing-18: 18px !default;
$k-spacing-20: 20px !default;
$k-spacing-22: 22px !default;
$k-spacing-24: 24px !default;
$k-spacing-26: 26px !default;
$k-spacing-28: 28px !default;
$k-spacing-30: 30px !default;
$k-spacing-32: 32px !default;
$k-spacing-34: 34px !default;
$k-spacing-36: 36px !default;
$k-spacing-38: 38px !default;
$k-spacing-40: 40px !default;

$k-border-radius-default: 3px !default;


// region [Dark Mode]

$k-dark-class-name: #{dark};

//$k-dark-mode-background-default-color: #212121;


// region [Dark Mode - colors]

$k-dark-mode-border-default-color: $k-gray-color-700;
$k-dark-mode-border-default-hover-color: lighten($k-dark-mode-border-default-color, $k-background-hover-percent);

$k-dark-mode-background-default-color: #212121;
$k-dark-mode-background-hover-color: lighten($k-dark-mode-background-default-color, $k-background-hover-percent);

// endregion


// region [Dark Mode - colors]

$k-dark-mode-font-color: $k-gray-color-200 !default;
$k-dark-mode-disabled-font-color: darken($k-dark-mode-font-color, 50%) !default;
$k-dark-mode-placeholder-font-color: darken($k-dark-mode-disabled-font-color,$k-background-disabled-percent) !default;
$k-dark-mode-disabled-background-color: lighten($k-dark-mode-background-default-color, $k-background-disabled-percent) !default;

// endregion




// endregion




