@use '../../../styles/Entry' as *;

// region [Component Token]

$kku-card-border-color-base: $kku-border-color-default;
$kku-card-background-color-base: $kku-background-color-default;
$kku-card-background-color-disabled: $kku-background-color-disabled;

$kku-card-border-radius-size: $kku-border-radius-default;
$kku-card-text-color-base: $kku-text-color-primary;
$kku-card-text-color-disabled: $kku-text-color-disabled;

$kku-card-padding-size: $kku-spacing-12;
$kku-card-title-margin-top-size: $kku-spacing-8;

$kku-card-box-shadow: $kku-box-shadow-default;

// endregion

.k-card {
  display: inline-flex;
  border: 1px solid $kku-card-border-color-base;
  border-radius: $kku-card-border-radius-size;
  transition: 0.24s ease;
  transition-property: border, background-color;

  .k-card__container {
    position: relative;
    flex-direction: column;
    padding: $kku-card-padding-size;
    border-radius: $kku-card-border-radius-size;
    background-color: $kku-card-background-color-base;
    color: $kku-card-text-color-base;
    overflow: hidden;

    .k-card__title {
      @include kku-text-large;
      font-weight: bold;

      & + .k-card__sub-title {
        margin-top: $kku-card-title-margin-top-size;
      }
    }

    .k-card__sub-title {
      @include kku-text-medium;
    }
  }

  // Clickable Modifier
  &.k-card--clickable {
    transition: 0.24s ease;
    transition-property: box-shadow, background-color, transform;
    .k-card__container {
      cursor: pointer;
    }
    &:hover {
      box-shadow: $kku-card-box-shadow;
      transform: translateY(-2px);
    }
    &:focus-visible {
      @include kku-focus-visible;
    }
  }

  // Disabled Modifier
  &.k-card--disabled {
    .k-card__container {
      cursor: not-allowed;
      background-color: $kku-card-background-color-disabled;
      color: $kku-card-text-color-disabled;
    }

    &:hover {
      box-shadow: none;
      transform: none;
    }
  }
}