.k-card {
    position: relative;
    display: inline-flex;
    flex-direction: column;
    padding: $k-spacing-8;
    border: 1px solid $k-border-color;
    border-radius: $k-border-radius-default;
    min-width: 80px;
    font-family: $k-font-family;

    .k-card__title {
        @include k-sub-title-1;

        & + .k-card__sub-title { margin-top: $k-spacing-8; }
    }

    .k-card__sub-title { @include k-label-1; }

    &.k-card__clickable {
        cursor: pointer;
        transition-property: box-shadow, transform;
        @include k-transition-2;

        &:hover {
            box-shadow: $k-default-box-shadow;
            transform: translateY(-$k-spacing-4);
        }
    }

    &.k-card--outlined {
        border-color: $k-border-color;
        color: $k-font-color;
    }

    &.k-card--contained {
        border-color: $k-primary-color;
        background: $k-primary-color;
    }
}


.#{$k-dark-class-name} .k-card {
    border-color: $k-dark-border-color;
    color: $k-dark-font-color;
}