@use '../../../src/styles/Entry' as *;

$kku-menu-item-height-size-small: 30px;
$kku-menu-item-height-size-medium: 36px;
$kku-menu-item-focus-width: 2px;


.k-menu-item {
  position: relative;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  border: none;
  outline: 0;
  width: 100%;
  color: $kku-text-color-default;
  background: $kku-white-color;
  overflow: hidden;
  cursor: pointer;
  user-select: none;

  &:after {
    position: absolute;
    top: 0;
    left: 0;
    width: calc(100% - #{$kku-menu-item-focus-width} * 2);
    height: calc(100% - #{$kku-menu-item-focus-width} * 2);
    border: $kku-menu-item-focus-width solid $kku-primary-color-default;
    z-index: 1;
  }

  &:focus-visible {
    &:after {
      content: '';
    }
  }

  @include kku-transition;
  transition-property: background;

  &:hover:not(.k-menu-item--disabled) {
    background: $kku-slate-color-100;
  }

  .k-menu-item__left-content, .k-menu-item__right-content {
    display: inline-flex;
    justify-content: center;
    align-items: center;
  }

  .k-menu-item__label {
    flex: 1 1 auto;
    text-align: left;
    @include kku-ellipsis;
  }

  .k-menu-item__shortcut {
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: $kku-border-radius-default;
    background: $kku-slate-color-200;
    color: $kku-slate-color-900;
  }

  &.k-menu-item--small {
    height: $kku-menu-item-height-size-small;
    padding: 0 $kku-spacing-12;
    @include kku-text-small;

    .k-menu-item__left-content { margin-right: $kku-spacing-4; }
    .k-menu-item__shortcut {
      @include kku-text-xxsmall;
      padding: 1px $kku-spacing-2;
    }
    .k-menu-item__right-content { margin-left: $kku-spacing-4; }
  }

  &.k-menu-item--medium {
    height: $kku-menu-item-height-size-medium;
    padding: 0 $kku-spacing-12;
    @include kku-text-medium;

    .k-menu-item__left-content { margin-right: $kku-spacing-6; }
    .k-menu-item__shortcut {
      @include kku-text-xsmall;
      padding: 0 $kku-spacing-4;
    }
    .k-menu-item__right-content { margin-left: $kku-spacing-6; }
  }

  &.k-menu-item--disabled {
    cursor: not-allowed;

    .k-menu-item__label { color: $kku-text-color-disabled; }
    .k-menu-item__shortcut { color: $kku-text-color-disabled; }
  }


  &.k-menu-item-selectable {

    &.k-menu-item--small {
      padding-left: $kku-spacing-12;

      .k-menu-item__left-content { margin-right: 0; }
      &.k-menu-item-selectable--selected { padding-left: $kku-spacing-2; }
    }

    &.k-menu-item--medium {
      padding-left: $kku-spacing-12;
      .k-menu-item__left-content{ margin-right: 0; }
      &.k-menu-item-selectable--selected { padding-left: $kku-spacing-2; }
    }

    &.k-menu-item-selectable--selected {
      background: $kku-slate-color-200;
    }
  }
}

.k-menu-item-divider {
  position: relative;
  height: 1px;
  padding: $kku-spacing-6 0;
  background: $kku-white-color;
  @include kku-transition;
  transition-property: background;

  &:after {
    content: '';
    position: absolute;
    top: 50%;
    left: $kku-spacing-10;
    width: calc(100% - #{$kku-spacing-10} * 2);
    height: 1px;
    background: $kku-slate-color-200;
  }
}


.#{$kku-dark-mode-signature} .k-menu-item {

  background: $kku-gray-color-900;

  &:hover:not(.k-menu-item--disabled) {
    background: $kku-gray-color-800;
  }

  .k-menu-item__shortcut {
    background: $kku-slate-color-900;
    color: $kku-slate-color-100;
  }

  &.k-menu-item--disabled {

    .k-menu-item__label { color: $kku-text-color-disabled; }
    .k-menu-item__shortcut { color: $kku-text-color-disabled; }
  }


  &.k-menu-item-selectable {
    &.k-menu-item-selectable--selected {
      background: $kku-gray-color-700;
    }
  }
}


.#{$kku-dark-mode-signature} .k-menu-item-divider {
  background: $kku-gray-color-900;

    &:after {
      background: $kku-slate-color-600;
    }

}