@import "./fonts.css";

@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  * { @apply border-border; }
  body { @apply bg-background text-foreground; }

  @font-face {
    font-family: 'Pretendard';
  }
}

:root {
  --background: 0 0% 100%;
  --foreground: 240 1.9608% 10%;
  --card: 0 0% 100%;
  --card-foreground: 240 1.9608% 10%;
  --popover: 0 0% 100%;
  --popover-foreground: 240 1.9608% 10%;
  --primary: 221.2987 97.4684% 53.5294%;
  --primary-foreground: 0 0% 98.0392%;
  --secondary: 0 0% 96.0784%;
  --secondary-foreground: 240 1.9608% 10%;
  --muted: 0 0% 96.0784%;
  --muted-foreground: 0 0% 45.0980%;
  --accent: 0 0% 96.0784%;
  --accent-foreground: 240 1.9608% 10%;
  --danger: 356.9460 95.8988% 57.7229%;
  --danger-foreground: 223.8136 0.0004% 98.0256%;
  --border: 0 0% 83.1373%;
  --input: 0 0% 83.1373%;
  --ring: 223.8136 0.0000% 45.1519%;
  --chart-1: 211.9266 100% 78.6275%;
  --chart-2: 217.3404 91.2621% 59.6078%;
  --chart-3: 221.5842 86.3248% 54.1176%;
  --chart-4: 223.7500 78.6885% 47.8431%;
  --chart-5: 226.4789 69.6078% 40%;
  --sidebar: 0 0% 98.0392%;
  --sidebar-foreground: 240 1.9608% 10%;
  --sidebar-primary: 240 1.9608% 10%;
  --sidebar-primary-foreground: 0 0% 98.0392%;
  --sidebar-accent: 0 0% 96.0784%;
  --sidebar-accent-foreground: 240 1.9608% 10%;
  --sidebar-border: 0 0% 89.8039%;
  --sidebar-ring: 0 0% 63.1373%;
  --font-sans: Pretendard, ui-sans-serif, system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, 'Helvetica Neue', Arial, 'Noto Sans', sans-serif, 'Apple Color Emoji', 'Segoe UI Emoji', 'Segoe UI Symbol', 'Noto Color Emoji';
  --font-serif: Pretendard, ui-serif, Georgia, Cambria, "Times New Roman", Times, serif;
  --font-mono: Pretendard, ui-monospace, SFMono-Regular, Menlo, Monaco, Consolas, "Liberation Mono", "Courier New", monospace;
  --radius: 0.45rem;
  --shadow-x: 0px;
  --shadow-y: 0px;
  --shadow-blur: 1px;
  --shadow-spread: 0px;
  --shadow-opacity: 0.12;
  --shadow-color: oklch(0 0 0);
  --shadow-2xs: 0px 0px 1px 0px hsl(0 0% 0% / 0.06);
  --shadow-xs: 0px 0px 1px 0px hsl(0 0% 0% / 0.06);
  --shadow-sm: 0px 0px 1px 0px hsl(0 0% 0% / 0.12), 0px 1px 2px -1px hsl(0 0% 0% / 0.12);
  --shadow: 0px 0px 1px 0px hsl(0 0% 0% / 0.12), 0px 1px 2px -1px hsl(0 0% 0% / 0.12);
  --shadow-md: 0px 0px 1px 0px hsl(0 0% 0% / 0.12), 0px 2px 4px -1px hsl(0 0% 0% / 0.12);
  --shadow-lg: 0px 0px 1px 0px hsl(0 0% 0% / 0.12), 0px 4px 6px -1px hsl(0 0% 0% / 0.12);
  --shadow-xl: 0px 0px 1px 0px hsl(0 0% 0% / 0.12), 0px 8px 10px -1px hsl(0 0% 0% / 0.12);
  --shadow-2xl: 0px 0px 1px 0px hsl(0 0% 0% / 0.30);
  --tracking-normal: 0em;
  --spacing: 0.25rem;
}

.dark {
  --background: 240 1.9608% 10%;
  --foreground: 0 0% 98.0392%;
  --card: 240 1.9608% 10%;
  --card-foreground: 0 0% 98.0392%;
  --popover: 0 0% 14.9020%;
  --popover-foreground: 0 0% 98.0392%;
  --primary: 221.3366 97.0631% 53.4981%;
  --primary-foreground: 223.8136 0.0004% 98.0256%;
  --secondary: 0 0% 14.9020%;
  --secondary-foreground: 0 0% 98.0392%;
  --muted: 0 0% 14.9020%;
  --muted-foreground: 0 0% 63.1373%;
  --accent: 0 0% 25.0980%;
  --accent-foreground: 0 0% 98.0392%;
  --danger: 356.9460 95.8988% 57.7229%;
  --danger-foreground: 223.8136 0.0004% 98.0256%;
  --border: 0 0% 15.6863%;
  --input: 0 0% 20.3922%;
  --ring: 223.8136 0.0000% 45.1519%;
  --chart-1: 211.9266 100% 78.6275%;
  --chart-2: 217.3404 91.2621% 59.6078%;
  --chart-3: 221.5842 86.3248% 54.1176%;
  --chart-4: 223.7500 78.6885% 47.8431%;
  --chart-5: 226.4789 69.6078% 40%;
  --sidebar: 240 1.9608% 10%;
  --sidebar-foreground: 0 0% 98.0392%;
  --sidebar-primary: 225.4286 84.0000% 49.0196%;
  --sidebar-primary-foreground: 0 0% 98.0392%;
  --sidebar-accent: 0 0% 14.9020%;
  --sidebar-accent-foreground: 0 0% 98.0392%;
  --sidebar-border: 0 0% 15.6863%;
  --sidebar-ring: 0 0% 32.1569%;
  --font-sans: Pretendard, ui-sans-serif, system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, 'Helvetica Neue', Arial, 'Noto Sans', sans-serif, 'Apple Color Emoji', 'Segoe UI Emoji', 'Segoe UI Symbol', 'Noto Color Emoji';
  --font-serif: Pretendard, ui-serif, Georgia, Cambria, "Times New Roman", Times, serif;
  --font-mono: Pretendard, ui-monospace, SFMono-Regular, Menlo, Monaco, Consolas, "Liberation Mono", "Courier New", monospace;
  --radius: 0.45rem;
  --shadow-x: 0px;
  --shadow-y: 0px;
  --shadow-blur: 1px;
  --shadow-spread: 0px;
  --shadow-opacity: 0.12;
  --shadow-color: oklch(0 0 0);
  --shadow-2xs: 0px 0px 1px 0px hsl(0 0% 0% / 0.06);
  --shadow-xs: 0px 0px 1px 0px hsl(0 0% 0% / 0.06);
  --shadow-sm: 0px 0px 1px 0px hsl(0 0% 0% / 0.12), 0px 1px 2px -1px hsl(0 0% 0% / 0.12);
  --shadow: 0px 0px 1px 0px hsl(0 0% 0% / 0.12), 0px 1px 2px -1px hsl(0 0% 0% / 0.12);
  --shadow-md: 0px 0px 1px 0px hsl(0 0% 0% / 0.12), 0px 2px 4px -1px hsl(0 0% 0% / 0.12);
  --shadow-lg: 0px 0px 1px 0px hsl(0 0% 0% / 0.12), 0px 4px 6px -1px hsl(0 0% 0% / 0.12);
  --shadow-xl: 0px 0px 1px 0px hsl(0 0% 0% / 0.12), 0px 8px 10px -1px hsl(0 0% 0% / 0.12);
  --shadow-2xl: 0px 0px 1px 0px hsl(0 0% 0% / 0.30);
}