
.k-button {
    position: relative;
    display: inline-flex;
    justify-content: center;
    align-items: center;

    border: 1px solid transparent;
    background: transparent;
    border-radius: $k-border-radius-default;
    overflow: hidden;
    cursor: pointer;
    user-select: none;

    &[disabled] { cursor: not-allowed; }

    // Content
    & .k-button__content { white-space: nowrap; }

    @include k-transition-3;


    // Variant
    &.k-button--default {
        color: $k-default-font-color;
        border-color: $k-border-default-color;
        background: $k-white-color;

        &:hover {
            border-color: $k-border-default-hover-color;
            background: $k-white-hover-color;
        }
        &[disabled] {
            color: $k-disabled-font-color;
            border-color: $k-border-default-color;
            background: $k-white-disabled-color;
        }
        .k-spinner--loading {
            border: 3px solid $k-gray-color-200;
            border-bottom-color: $k-gray-color-700;
        }
    }

    &.k-button--contained {
        color: $k-white-color;
        border-color: $k-primary-color;
        background: $k-primary-color;

        &:hover {
            border-color: $k-primary-hover-color;
            background: $k-primary-hover-color;
        }
        &[disabled] {
            color: $k-disabled-font-color;
            border-color: $k-primary-disabled-color;
            background: $k-primary-disabled-color;
        }
        .k-spinner--loading {
            border: 3px solid $k-primary-color;
            border-bottom-color: $k-white-color;
        }
    }
    &.k-button--outlined {
        color: $k-primary-color;
        border-color: $k-primary-color;
        background: $k-white-color;

        &:hover {
            border-color: $k-primary-hover-color;
            background: $k-white-hover-color;
        }
        &[disabled] {
            color: $k-primary-disabled-color;
            border-color: $k-primary-disabled-color;
            background: $k-white-disabled-color;
        }
        .k-spinner--loading {
            border: 3px solid $k-primary-color;
            border-bottom-color: $k-white-color;
        }
    }

    &.k-button--loading {
        pointer-events: none;

        .k-button__content { opacity: 0; }

        &:focus-within { outline: none; }

        .k-button__loading__container {
            @include k-center-absolute;
            @include k-center-flex-wrap;
        }
    }

    &.k-button--disabled {
        &:after {
            content: '';
            position: absolute;
            top: 0;
            left: 0;
            width: 100%;
            height: 100%;
            background-color: rgba(0, 0, 0, 0.1);
        }
    }

    // Size
    &.k-button--large {
        height: 36px;
        padding: 0 $k-spacing-24;

        .k-button__content { @include k-body-1; }
        .k-spinner--loading { width: 24px; height: 24px; }
    }
    &.k-button--medium {
        height: 32px;
        padding: 0 $k-spacing-16;

        .k-button__content { @include k-body-2; }
        .k-spinner--loading { width: 18px; height: 18px; }
    }
    &.k-button--small {
        height: 28px;
        padding: 0 $k-spacing-12;

        .k-button__content { @include k-body-3; }
        .k-spinner--loading { width: 16px; height: 16px; }
    }
}

// region [Dark Mode]

.#{$k-dark-class-name} .k-button {

    $k-button-dark-color: $k-gray-color-700;

    &.k-button--default {
        color: $k-white-color;
        border-color: $k-dark-mode-default-border-color;
        background: $k-dark-mode-default-background-color;

        &:hover {
            border-color: $k-dark-mode-hover-border-color;
            background: $k-dark-mode-hover-background-color;
        }
        &[disabled] {
            color: $k-dark-mode-disabled-font-color;
            border-color: $k-dark-mode-disabled-border-color;
            background: $k-dark-mode-disabled-background-color;
        }
        .k-spinner--loading {
            border: 3px solid $k-dark-mode-default-border-color;
            border-bottom-color: $k-white-color;
        }
    }


    &.k-button--primary {
        &[disabled] {
            color: $k-disabled-font-color;
            border-color: $k-primary-disabled-color;
            background: $k-primary-disabled-color;
        }
    }
    &.k-button--outlined {

        background: $k-dark-mode-default-background-color;

        &[disabled] {
            color: $k-primary-disabled-color;
            background: $k-dark-mode-disabled-background-color;
        }
        .k-spinner--loading {
            border: 3px solid $k-gray-color-200;
            border-bottom-color: $k-primary-color;
        }
    }

}

// endregion
