.k-button {
  position: relative;
  display: inline-flex;
  justify-content: center;
  align-items: center;

  font-family: $k-font-family;
  border: 1px solid transparent;
  background: transparent;
  border-radius: $k-border-radius-default;
  overflow: hidden;
  cursor: pointer;
  user-select: none;
  @include k-transition-3;

  &[disabled] { cursor: not-allowed; }
  .k-button__content { white-space: nowrap; }
  .k-ripple { background-color: darken($k-white-color, $ripple-percent); }

  // region [Variant]
  &.k-button--outlined {
    color: $k-font-color;
    border-color: $k-border-color;
    background: $k-background-color;

    &:hover {
      border-color: $k-border-hover-color;
      background: $k-background-hover-color;
    }

    &[disabled] {
      color: $k-font-disabled-color;
      border-color: $k-border-disabled-color;
      background-color: $k-background-disabled-color;
    }
  }

  $k-button-contained-color: $k-contained-color;

  &.k-button--contained {
    color: $k-white-color;
    border-color: $k-button-contained-color;
    background: $k-button-contained-color;

    &:hover {
      border-color: darken($k-button-contained-color, $hover-percent);
      background: darken($k-button-contained-color, $hover-percent);
    }

    &[disabled] {
      color: darken($k-white-color, $disabled-percent);
      border-color: lighten($k-contained-color, $disabled-percent);
      background: lighten($k-contained-color, $disabled-percent);
    }
  }
  // endregion


  // region [Size]
  &.k-button--small {
    height: 28px;
    padding: 0 $k-spacing-12;

    .k-button__content { @include k-body-3; }
  }

  &.k-button--medium {
    height: 32px;
    padding: 0 $k-spacing-16;

    .k-button__content { @include k-body-2; }
  }

  // endregion
}

// region [Dark Mode]

.#{$k-dark-class-name} .k-button {

  .k-ripple { background-color: darken($k-white-color, $ripple-percent); }

  // region [Variant]
  &.k-button--outlined {
    color: $k-white-color;
    border-color: $k-white-color;
    background-color: $k-dark-background-color;

    &:hover {
      border-color: $k-dark-border-hover-color;
      background: $k-dark-background-hover-color;
    }
    &[disabled] {
      color: $k-dark-font-disabled-color;
      border-color: $k-dark-border-disabled-color;
      background-color: $k-dark-background-disabled-color;
    }
  }

  $k-button-contained-color: $k-contained-color;

  &.k-button--contained {
    color: $k-dark-font-color;
    border: none;
    background: $k-dark-background-color;

    &:hover {
      background: $k-dark-background-hover-color;
    }

    &[disabled] {
      color: $k-dark-font-disabled-color;
      background-color: $k-dark-background-disabled-color;
    }
  }
  // endregion

}

// endregion
