@use '../../../styles/Entry' as *;


$kku-text-field-height-small: 44px;
$kku-text-field-height-medium: 50px;
$kku-text-field-legend-height: 16px;

.k-text-field {
  position: relative;
  display: inline-flex;
  flex-direction: column;
  width: 100%;

  .k-text-field__fieldset {
    display: inline-flex;
    color: $kku-text-color-label;
    border: 1px solid $kku-border-color-default;
    border-radius: $kku-border-radius-default;
    @include kku-transition;
    transition-property: border-color;

    &:hover {
      border-color: $kku-border-color-hover;

      .k-text-field__fieldset__legend > .k-text-field__fieldset__legend__label {
        color: $kku-text-color-default;
      }
    }

    .k-text-field__fieldset__legend {

      .k-text-field__fieldset__legend__label {
        height: $kku-text-field-legend-height;
        color: $kku-text-color-label;
        @include kku-transition;
        transition-property: color;

        &.k-text-field__fieldset__legend__label--show { padding: 0 $kku-spacing-2; }
      }

      .k-text-field__fieldset__legend__label__required {
        margin-left: $kku-spacing-2;
        color: $kku-error-color-default;
        @include kku-transition;
        transition-property: color;
      }
    }
  }

  &.k-text-field--focus:not(.k-text-field--readOnly) {
    .k-text-field__fieldset {
      outline: none;
      border-color: $kku-focus-visible-color;

      .k-text-field__fieldset__legend {
        .k-text-field__fieldset__legend__label {
          color: $kku-focus-visible-color;
        }
        .k-text-field__fieldset__legend__label__required {
          color: $kku-focus-visible-color;
        }
      }
    }
  }

  &.k-text-field--error {
    .k-text-field__fieldset {
      border-color: $kku-error-color-default;
      .k-text-field__fieldset__legend {
        .k-text-field__fieldset__legend__label {
          color: $kku-error-color-default;
        }
        .k-text-field__fieldset__legend__label__required {
          color: $kku-error-color-default;
        }
      }
    }
  }
  .k-text-field__fieldset__message {
    padding: $kku-spacing-4 0 0 $kku-spacing-4;
    color: $kku-error-color-default;
  }

  .k-text-field__fieldset__container {
    display: flex;
    align-items: center;
    width: 100%;
    height: 100%;

    .k-text-field__fieldset__container__input {
      flex: 1 1 auto;
      outline: 0;
      border: none;
      background: none;
      width: 100%;
      height: 100%;
      padding: 0;
      font-size: inherit;
      line-height: inherit;
    }
  }

  &.k-text-field--small {

    .k-text-field__fieldset {
      height: $kku-text-field-height-small;

      .k-text-field__fieldset__legend {
        margin-left: $kku-spacing-10;

        .k-text-field__fieldset__legend__label {
          @include kku-text-xsmall;
        }
      }

      .k-text-field__fieldset__container {
        height: calc(#{$kku-text-field-height-small} - #{$kku-text-field-legend-height} / 2);
        margin-top: calc(-1 * #{$kku-text-field-legend-height} / 2);

        .k-text-field__fieldset__container__left {
          margin-left: $kku-spacing-8;
        }

        .k-text-field__fieldset__container__input {
          padding: 0 $kku-spacing-8;
          @include kku-text-small;
        }

        .k-text-field__fieldset__container__right, .k-text-field__fieldset__container__icon {
          flex: 0 0 $kku-text-size-medium;
          margin-right: $kku-spacing-8;
        }
      }
    }

    .k-text-field__fieldset__message {
      @include kku-text-xsmall;
    }
  }

  &.k-text-field--medium {

    .k-text-field__fieldset {
      height: $kku-text-field-height-medium;

      .k-text-field__fieldset__legend {
        margin-left: $kku-spacing-12;

        .k-text-field__fieldset__legend__label {
          @include kku-text-small;
        }
      }

      .k-text-field__fieldset__container {
        height: calc(#{$kku-text-field-height-medium} - #{$kku-text-field-legend-height} / 2);
        margin-top: calc(-1 * #{$kku-text-field-legend-height} / 2);

        .k-text-field__fieldset__container__input {
          padding: 0 $kku-spacing-10;
          @include kku-text-medium;
        }

        .k-text-field__fieldset__container__right, .k-text-field__fieldset__container__icon {
          flex: 0 0 $kku-text-size-large;
          margin-right: $kku-spacing-10;
        }
      }

    }

    .k-text-field__fieldset__message {
      @include kku-text-small;
    }
  }


  &.k-text-field--disabled {
    .k-text-field__fieldset {
      border-color: $kku-border-color-disabled;
      background: $kku-background-color-disabled;

      .k-text-field__fieldset__legend > .k-text-field__fieldset__legend__label {
        color: $kku-text-color-disabled;
      }
      .k-text-field__fieldset__container {

        .k-text-field__fieldset__container__input {
          cursor: not-allowed;
        }
      }
    }
  }
}


.#{$kku-dark-mode-signature} .k-text-field {
}
