
// region [Component Tokens]

// Sizes
$text-field-text-size-small: $kku-text-size-small;
$text-field-text-size-medium: $kku-text-size-medium;

$text-field-label-text-size-small: $kku-text-size-xsmall;
$text-field-label-text-size-medium: $kku-text-size-small;

$text-field-width-size-small: 200px;
$text-field-width-size-medium: 280px;

// Default
$text-field-text-default-color-base: $kku-text-color-primary;
$text-field-text-default-color-hover: $kku-text-color-secondary;
$text-field-text-default-color-disabled: $kku-text-color-disabled;

$text-field-text-placeholder-color-base: $kku-text-color-secondary;
$text-field-text-placeholder-color-hover: $kku-text-color-primary;
$text-field-text-placeholder-color-disabled: $kku-text-color-disabled;


$text-field-background-default-color-base: $kku-background-color-base;
$text-field-background-default-color-disabled: $kku-background-color-disabled;

$text-field-border-default-color-base: $kku-border-color-base;
$text-field-border-default-color-hover: $kku-border-color-hover;
$text-field-border-default-color-disabled: $kku-border-color-disabled;

$text-field-border-radius: $kku-border-radius-default;


// Primary
$text-field-text-primary-color-base: $kku-white-color;
$text-field-text-primary-color-hover: $kku-white-color;
$text-field-text-primary-color-disabled: $kku-gray-color-300;

$text-field-primary-text-color-base: $kku-gray-color-100;
$text-field-primary-text-color-hover: $kku-text-color-secondary;
$text-field-primary-text-color-disabled: $kku-text-color-disabled;

$text-field-border-primary-color-base: $kku-primary-color-base;
$text-field-border-primary-color-hover: $kku-primary-color-hover;
$text-field-border-primary-color-disabled: $kku-primary-color-disabled;

// endregion

.k-text-field {
  position: relative;
  display: inline-flex;
  flex-direction: column;
  width: 100%;

  .k-text-field__label {
    display: inline-flex;
    justify-content: flex-start;
    align-items: center;
    width: auto;

    .k-text-field__label__text {
      color: $text-field-text-default-color-base;
      white-space: nowrap;
    }

    .k-text-field__label--required {
      color: $kku-error-color-base;
      margin-left: $kku-spacing-2;
    }
  }

  .k-text-field__input {
    position: relative;
    display: inline-flex;
    width: 100%;

    .k-text-field__input__left-action, .k-text-field__input__right-action {
      display: flex;
      justify-content: flex-start;
      align-items: center;
    }

    .k-text-field__input__root {
      width: 100%;
      height: 100%;
      color: $text-field-text-default-color-base;
      border: 1px solid $text-field-border-default-color-base;
      background-color: $text-field-background-default-color-base;
      border-radius: $text-field-border-radius;
      transition: color, border-color, background-color 0.24s ease;

      &:focus-visible { @include kku-focus-visible; }
    }

    .k-text-field__input__icon {
      position: absolute;
      top: 0; left: 0;
      display: flex;
      justify-content: center;
      align-items: center;
      height: 100%;

      .k-text-field__input__icon-password {
        //color: $kku-white-color;
      }

      .k-text-field__input__icon-clearable {

      }
    }

    &:hover {
      .k-text-field__input__root {
        color: $text-field-text-default-color-hover;
        border-color: $text-field-border-default-color-hover;
      }
    }
  }


  &.k-text-field--disabled {

    .k-text-field__label{
      .k-text-field__label__text { color: $text-field-text-default-color-disabled; }
    }
    .k-text-field__input {
      .k-text-field__input__root {
        color: $text-field-text-default-color-disabled;
        border-color: $text-field-border-default-color-disabled;
        background-color: $text-field-background-default-color-disabled;
        cursor: not-allowed;
      }
    }
  }

  &.k-text-field--small {
    max-width: $text-field-width-size-small;

    .k-text-field__label {
      margin-bottom: $kku-spacing-6;
      @include kku-text-xsmall;
    }

    .k-text-field__input {
      height: $kku-element-height-small;

      .k-text-field__input__left-action { margin-right: $kku-spacing-4;}
      .k-text-field__input__right-action { margin-left: $kku-spacing-4;}

      .k-text-field__input__root {
        padding: 0 $kku-spacing-6;
        @include kku-text-small;
      }
    }
    .k-text-field__input__icon {
      gap: $kku-spacing-4;
      padding: 0 $kku-spacing-6;
      z-index: 1;
    }

  }

  &.k-text-field--medium {
    max-width: $text-field-width-size-medium;

    .k-text-field__label {
      margin-bottom: $kku-spacing-8;
      @include kku-text-small;
    }

    .k-text-field__input {
      height: $kku-element-height-medium;

      .k-text-field__input__left-action { margin-right: $kku-spacing-6;}
      .k-text-field__input__right-action { margin-left: $kku-spacing-6;}

      .k-text-field__input__root {
        padding: 0 $kku-spacing-10;
        @include kku-text-medium;
      }
    }

    .k-text-field__input__icon {
      gap: $kku-spacing-6;
      padding: 0 $kku-spacing-10;
    }
  }
}


.#{$kku-dark-mode-signature} .k-text-field {

  &.k-text-field--disabled {

    .k-text-field__label{
      .k-text-field__label__text { color: $text-field-text-default-color-disabled; }
    }
  }
}