@use '../../../styles/Entry' as *;


$kku-select-width-small: 140px;
$kku-select-height-small: 38px;
$kku-select-width-medium: 180px;
$kku-select-height-medium: 44px;
$kku-select-legend-height: 16px;

.k-dropdown.k-select {
  position: relative;
  display: inline-flex;
  flex-direction: column;
  cursor: pointer;
  user-select: none;

  .k-select__fieldset {
    display: inline-flex;
    justify-content: flex-start;
    align-items: center;
    width: 100%;
    color: $kku-text-color-label;
    min-inline-size: 0;
    outline: 0;
    border: 1px solid $kku-border-color-default;
    border-radius: $kku-border-radius-default;
    @include kku-transition;
    transition-property: border-color;

    &:hover {
      border-color: $kku-border-color-hover;

      .k-select__fieldset__legend {
        color: $kku-text-color-default;
      }
    }

    .k-select__fieldset__legend {
      display: flex;
      justify-content: flex-start;
      align-items: center;
      height: $kku-select-legend-height;
      color: $kku-text-color-label;
      @include kku-transition;
      transition-property: color;
      z-index: 0;

      &.k-select__fieldset__legend--show {
        padding: 0 $kku-spacing-2;
      }

      .k-select__fieldset__legend__required {
        margin-left: $kku-spacing-2;
        color: $kku-error-color-default;
        @include kku-transition;
        transition-property: color;
      }
    }

    .k-select__fieldset__container {
      position: relative;
      width: 100%;
      overflow: hidden;

      .k-select__fieldset__container__value, .k-select__fieldset__container__placeholder {
        display: block;
        @include kku-ellipsis;
      }

      .k-select__fieldset__container__value {
        color: $kku-text-color-default;
      }

      .k-select__fieldset__container__placeholder {
        color: $kku-text-color-placeholder;
      }
    }
  }
  .k-select__trigger {
    display: inline-flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
  }

  .k-select__trigger:focus-visible:not(.k-select--disabled) {
    outline: 0;

    .k-select__fieldset {
      outline: none;
      border-color: $kku-focus-visible-color;

      .k-select__fieldset__legend {
        color: $kku-focus-visible-color;

        .k-select__fieldset__legend__required {
          color: $kku-focus-visible-color;
        }
      }
    }
  }

  &.k-select--error {
    .k-select__fieldset {
      border-color: $kku-error-color-default;

      .k-select__fieldset__legend {
          color: $kku-error-color-default;

        .k-select__fieldset__legend__required {
          color: $kku-error-color-default;
        }
      }
    }
  }

  .k-select__fieldset__message {
    padding: $kku-spacing-4 0 0 $kku-spacing-4;
    color: $kku-error-color-default;
  }

  .k-select__fieldset__container {
    display: flex;
    align-items: center;
    height: 100%;
  }

  &.k-select--small {
    width: $kku-select-width-small;

    .k-select__fieldset {
      height: $kku-select-height-small;

      .k-select__fieldset__legend {
        margin-left: $kku-spacing-10;
        @include kku-text-xsmall;
      }

      .k-select__fieldset__container {
        height: calc(#{$kku-select-height-small} - #{$kku-select-legend-height} / 2);
        padding: 0 $kku-spacing-8;
        margin-top: calc(-1 * #{$kku-select-legend-height} / 2);
        @include kku-text-small;

        .k-select__fieldset__container__left {
          margin-left: $kku-spacing-8;
        }

        .k-select__fieldset__container__right, .k-select__fieldset__container__icon {
          flex: 0 0 $kku-text-size-medium;
          margin-right: $kku-spacing-8;
        }
      }
    }

    .k-select__fieldset__message {
      @include kku-text-xsmall;
    }
  }

  &.k-select--medium {
    width: $kku-select-width-medium;

    .k-select__fieldset {
      height: $kku-select-height-medium;

      .k-select__fieldset__legend {
        margin-left: $kku-spacing-12;
        @include kku-text-small;
      }

      .k-select__fieldset__container {
        height: calc(#{$kku-select-height-medium} - #{$kku-select-legend-height} / 2);
        padding: 0 $kku-spacing-10;
        margin-top: calc(-1 * #{$kku-select-legend-height} / 2);
        @include kku-text-small;

        .k-select__fieldset__container__right, .k-select__fieldset__container__icon {
          flex: 0 0 $kku-text-size-large;
          margin-right: $kku-spacing-10;
        }
      }

    }

    .k-select__fieldset__message {
      @include kku-text-small;
    }
  }


  &.k-select--disabled {
    cursor: not-allowed;

    .k-select__fieldset {
      border-color: $kku-border-color-disabled;
      background: $kku-background-color-disabled;

      .k-select__fieldset__legend {
        color: $kku-text-color-disabled;
      }

      .k-select__fieldset__container {
        .k-select__fieldset__container__value {
          color: $kku-text-color-disabled;
        }
      }
    }
  }
}

.k-dropdown__content.k-select__content {

  .k-select__content__menu--small > .k-menu-item { height: 30px; }
  .k-select__content__menu--medium > .k-menu-item { height: 36px; }
}

.#{$kku-dark-mode-signature} .k-select {
}
