// region [Component Token]

$card-border-color-base: $kku-border-color-base;

$card-background-color-base: $kku-background-color-base;
$card-background-color-disabled: $kku-background-color-disabled;

$card-border-radius-size: $kku-border-radius-default;

$card-text-color-base: $kku-text-color-primary;
$card-text-color-disabled: $kku-text-color-disabled;

$card-padding-size: $kku-spacing-12;
$card-title-margin-top-size: $kku-spacing-8;

$card-box-shadow: $kku-box-shadow-default;

// endregion

.k-card {
  display: inline-flex;
  border: 1px solid $card-border-color-base;
  border-radius: $card-border-radius-size;
  transition: 0.24s ease;
  transition-property: border, background-color;

  .k-card__container {
    position: relative;
    flex-direction: column;
    padding: $kku-spacing-12;
    background-color: $card-background-color-base;
    color: $card-text-color-base;
    font-family: var(--font-family);
    overflow: hidden;

    .k-card__title {
      @include kku-text-large;
      font-weight: bold;

      & + .k-card__sub-title {
        margin-top: $card-title-margin-top-size;
      }
    }
  }

  &.k-card--clickable {
    transition: 0.24s ease;
    transition-property: box-shadow, background-color, transform;
    .k-card__container {
      cursor: pointer;
    }
    &:hover {
      box-shadow: $card-box-shadow;
      transform: translateY(-2px);
    }
    &:focus-visible {
      @include kku-focus-visible;
    }
  }

  &.k-card--disabled {

    .k-card__container {
      cursor: not-allowed;
      background-color: $card-background-color-disabled;
      color: $card-text-color-disabled;
    }

    &:hover {
      box-shadow: none;
      transform: none;
    }
  }

}
