// region [Component Token]

$card-width-size-small: 300px;
$card-height-size-small: calc(#{$card-width-size-small} / 2.1);

$card-width-size-medium: 420px;
$card-height-size-medium: calc(#{$card-width-size-medium} / 2.1);

$card-border-color-default: $kku-border-color-base;
$card-border-radius-size: $kku-border-radius-default;

$card-text-color-default: $kku-text-color-primary;


$card-padding-size: $kku-spacing-12;
$card-title-margin-top-size: $kku-spacing-8;

$card-box-shadow: rgba(0, 0, 0, 0.16) 0px 1px 4px;

// endregion

.k-card {
  position: relative;
  display: inline-flex;
  flex-direction: column;
  padding: $card-padding-size;
  border: 1px solid $card-border-color-default;
  border-radius: $card-border-radius-size;
  font-family: var(--font-family);
  color: $card-text-color-default;

  .k-card__title {
    @include kku-text-large;
    font-weight: bold;

    & + .k-card__sub-title {
      margin-top: $card-title-margin-top-size;
    }
  }

  &.k-card--clickable {
    cursor: pointer;
    transition: box-shadow, transform 0.24s ease;

    &:hover {
      box-shadow: $card-box-shadow;
      transform: translateY(-2px);
    }
  }

  &.k-card--small {
    width: $card-width-size-small;
    height: $card-height-size-small;
  }

  &.k-card--medium {
    width: $card-width-size-medium;
    height: $card-height-size-medium;
  }

}
