$k-modal__large: 1040px;
$k-modal__medium: 824px;
$k-modal__small: 640px;

$k-modal__wrapper_zIndex: 1000;
$k-modal__container_zIndex: 1002;
$k-modal__overlay_zIndex: 1001;

$k-modal__header__font-size: 18px;
$k-modal__header__line-height: 24px;

$k-modal__overlay__background-color: var(--black-color);
$k-modal__overlay__dark__background-color: var(--white-color);
$k-modal__overlay__opacity: 0.16;

@keyframes modalScaleUp {
    from { transform: scale(1.0); }
    to { transform: scale(1.016); }
}
@keyframes modalScaleDown {
    from { transform: scale(1.016); }
    to { transform: scale(1.0); }
}

.k-modal__wrapper {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    color: var(--default-font-color);
    @include k-center-flex-wrap;
    z-index: $k-modal__wrapper_zIndex;
    @include fade-in;

    &.k-modal__wrapper--close {
        @include fade-out;

        // 컨테이너 종료 애니메이션
        .k-modal__container {
            animation: modalScaleUp 0.16s ease-in forwards;
        }
    }

    .k-modal__container {
        z-index: $k-modal__container_zIndex;
        border-radius: var(--default-border-radius);
        background-color: var(--white-color);
        box-shadow: var(--default-box-shadow);
        overflow: hidden;

        // 컨테이너 시작 애니메이션
        animation: modalScaleDown 0.16s ease-out forwards;

        .k-modal__container__header {
            display: flex;
            justify-content: space-between;
            align-items: center;
            padding: var(--spacing-8) var(--spacing-12);
            border-bottom: 1px solid var(--gray-color-100);

            .k-modal__container__header__text{
                font-size: $k-modal__header__font-size;
                line-height: $k-modal__header__line-height;
                font-weight: bold;
            }

            .k-modal__container__header__close-button {
                position: relative;
                width: 24px; height: 24px;
                background: none;
                border: none;
                color: inherit;
                cursor: pointer;
                overflow: hidden;
            }
        }

        .k-modal__container__content {
            padding: var(--spacing-20) var(--spacing-16);
        }

        .k-modal__container__footer {
            @include k-center-flex-wrap;
            gap: 8px;
            padding: 0 var(--spacing-12) var(--spacing-12) var(--spacing-12);
        }


        // region [Sizes]
        &.k-modal__container--medium {
            max-width: $k-modal__medium;
            width: 100%;
        }
        &.k-modal__container--small {
            max-width: $k-modal__small;
            width: 100%;
        }
        // endregion
    }

    .k-modal-wrapper__overlay {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        z-index: $k-modal__overlay_zIndex;

        &.k-modal-wrapper__overlay--active {
            background-color: $k-modal__overlay__background-color;
            opacity: $k-modal__overlay__opacity;
        }

        &.k-modal-wrapper__overlay--transparent {
            background-color: transparent;
            opacity: 0;
        }
    }
}


@media screen and (max-width: $k-modal__large) {
    .k-modal__wrapper .k-modal__container.k-modal__container--large {
        max-width: calc(100% - (var(--spacing-32) * 2));
    }
}
@media screen and (max-width: $k-modal__medium) {
    .k-modal__wrapper .k-modal__container.k-modal__container--medium {
        max-width: calc(100% - (var(--spacing-24) * 2));
    }
}
@media screen and (max-width: $k-modal__small) {
    .k-modal__wrapper .k-modal__container.k-modal__container--small {
        max-width: calc(100% - (var(--spacing-16) * 2));
    }
}


.#{$dark-class-name} .k-modal__wrapper {
    color: var(--dark-font-color);

    .k-modal__container {
        background-color: var(--gray-color-800);
    }

    .k-modal-wrapper__overlay {


        &.k-modal-wrapper__overlay--active {
            background-color: $k-modal__overlay__dark__background-color;
            opacity: $k-modal__overlay__opacity;
        }
    }
}
