@use '../../../styles/Entry' as *;

// region [Component Token]

$switch-background-color-active: $kku-primary-color-default;
$switch-background-color-inactive: $kku-gray-color-300;
$switch-background-color-disabled: rgba(0, 0, 0, 0.16);

$switch-background-color-inactive-dark-mode: $kku-gray-color-700;

$switch-ball-color-base: $kku-white-color;
$switch-ball-color-disabled: $kku-gray-color-300;

$switch-width-size-medium: 54px;
$switch-height-size-medium: 30px;
$switch-border-radius-medium: 15px;
$switch-ball-size-medium: 24px;

$switch-width-size-small: 48px;
$switch-height-size-small: 26px;
$switch-border-radius-small: 13px;
$switch-ball-size-small: 20px;

// endregion

.k-switch {
  position: relative;
  display: inline-flex;
  justify-content: flex-start;
  align-items: center;

  .k-switch__input {
    display: none;
  }

  &.k-switch--on.k-switch--small {
    .k-switch__label {
      background-color: $switch-background-color-active;

      .k-switch__label__ball {
        left: calc(100% - (#{$switch-ball-size-small} + 3px));
      }
    }
  }

  &.k-switch--on.k-switch--medium {
    .k-switch__label {
      background-color: $switch-background-color-active;

      .k-switch__label__ball {
        left: calc(100% - (#{$switch-ball-size-medium} + 3px));
      }
    }
  }

  .k-switch__label {
    position: relative;
    width: 50px;
    height: 24px;
    background-color: $switch-background-color-inactive;
    transition: background-color 0.24s ease-out;
    cursor: pointer;

    @include kku-focus-visible;

    .k-switch__label__ball {
      position: absolute;
      top: 3px;
      left: 3px;
      border-radius: 50%;
      background-color: $switch-ball-color-base;
      transition: left 0.24s ease;
    }
  }

  &.k-switch--small {
    .k-switch__label {
      width: $switch-width-size-small;
      height: $switch-height-size-small;
      border-radius: $switch-border-radius-small;

      .k-switch__label__ball {
        width: $switch-ball-size-small;
        height: $switch-ball-size-small;
      }
    }
  }

  &.k-switch--medium {
    .k-switch__label {
      width: $switch-width-size-medium;
      height: $switch-height-size-medium;
      border-radius: $switch-border-radius-medium;

      .k-switch__label__ball {
        width: $switch-ball-size-medium;
        height: $switch-ball-size-medium;
      }
    }
  }

  &.k-switch--disabled {
    .k-switch__label {
      cursor: not-allowed;

      &:after {
        content: '';
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        background-color: $switch-background-color-disabled;
      }
    }
  }
}

.#{$kku-dark-mode-signature} .k-switch {
  .k-switch__label {
    background-color: $switch-background-color-inactive-dark-mode;
  }
}