@use '../../../styles/Entry' as *;

// region [Component Token]
$switch-width-size-medium: 52px;
$switch-height-size-medium: 30px;
$switch-border-radius-medium: 15px;
$switch-ball-size-medium: 24px;

$switch-width-size-small: 44px;
$switch-height-size-small: 26px;
$switch-border-radius-small: 13px;
$switch-ball-size-small: 20px;

// endregion

.k-switch {
  position: relative;
  display: inline-flex;
  justify-content: flex-start;
  align-items: center;
  border: none;
  outline: 0;

  width: 50px;
  height: 24px;
  @include kku-transition;
  transition-property: background;
  cursor: pointer;

  @include kku-focus-visible;

  .k-switch__toggle {
    position: absolute;
    top: 3px;
    left: 3px;
    border-radius: 50%;
    background: $kku-white-color;
    transition: left 0.24s ease;
  }

  &.k-switch--small {
    width: $switch-width-size-small;
    height: $switch-height-size-small;
    border-radius: $switch-border-radius-small;

    .k-switch__toggle {
      width: $switch-ball-size-small;
      height: $switch-ball-size-small;
    }
  }

  &.k-switch--medium {
    width: $switch-width-size-medium;
    height: $switch-height-size-medium;
    border-radius: $switch-border-radius-medium;

    .k-switch__toggle {
      width: $switch-ball-size-medium;
      height: $switch-ball-size-medium;
    }
  }

  &.k-switch--on {
    background: $kku-primary-color-default;

    &:hover:not(.k-switch--disabled) {
      background: $kku-blue-color-500;
    }

    &.k-switch--small {
      .k-switch__toggle { left: calc(100% - (#{$switch-ball-size-small} + 3px)); }
    }

    &.k-switch--medium {
      .k-switch__toggle { left: calc(100% - (#{$switch-ball-size-medium} + 3px)); }
    }
  }

  &.k-switch--off {
    background: $kku-slate-color-300;

    &:hover:not(.k-switch--disabled) {
      background: $kku-gray-color-300;
    }
  }

  &.k-switch--disabled {
    cursor: not-allowed;
    background: $kku-background-color-disabled;

    .k-switch__toggle { background: $kku-slate-color-300; }
  }

}

.#{$kku-dark-mode-signature} .k-switch {

  .k-switch__toggle {
    background: $kku-slate-color-200;
  }

  &.k-switch--off {
    background: $kku-slate-color-600;

    &:hover:not(.k-switch--disabled) {
      background: $kku-slate-color-500;
    }
  }

  &.k-switch--disabled {
    background: $kku-background-color-disabled;

    .k-switch__toggle { background: $kku-slate-color-300; }
  }
}