$k-text-field-medium-height: 40px;
$k-text-field-small-height: 36px;


.k-text-field {
  position: relative;
  display: flex;
  width: auto;
  font-size: 0;
  font-family: var(--font-family);

  // region [Hover]
  &:hover, &:focus-within {

    .k-text-field__label__container > .k-text-field__label__text {
      color: var(--default-font-color);
    }

    .k-text-field__input__container {
      border-color: var(--default-font-color);
    }
  }
  // endregion


  // region [Label]
  .k-text-field__label__container {
    position: absolute;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 var(--spacing-2);
    overflow: hidden;

    &:before {
      content: '';
      top: 49%;
      left: 0;
      transform: translateY(-50%);
      height: 2px;
      width: 100%;
      position: absolute;
      background-color: var(--default-background-color);
      z-index: 1;
    }

    .k-text-field__label__text {
      display: inline-flex;
      justify-content: flex-start;
      align-items: center;
      gap: var(--spacing-2);
      color: var(--default-border-color);
      white-space: nowrap;
      border-radius: 4px;
      z-index: 2;
      overflow: hidden;
      @include k-transition-3;

      .k-text-field__label__text__required {
        color: var(--error-color);
      }

      &.k-text-field__label__text--focus {
        color: var(--black-color);
        transition-property: color;
        @include k-transition-3;
      }
    }
  }
  // endregion


  // region [FullWidth]
  &.k-text-field__input--full-width {
    &.k-text-field--small, &.k-text-field--medium {
      & > .k-text-field__input__container {
        min-width: 100%;
        width: 100%;
      }
    }
  }
  // endregion


  // region [Container]
  .k-text-field__input__container {
    display: inline-flex;
    justify-content: space-between;
    align-items: center;

    border: 1px solid var(--default-border-color);
    border-radius: var(--default-border-radius);
    background: var(--white-color);
    caret-color: var(--default-font-color);
    font-size: 0;

    transition-property: border-color;
    @include k-transition-3;


    .k-text-field__label__left-action, .k-text-field__label__right-action {
      display: flex;
      justify-content: center;
      align-items: center;
      height: 100%;
      background-color: transparent;
    }

    .k-text-field__input {
      width: 100%;
      padding: 0;
      border: none;
      outline: none;
      background-color: transparent;
      color: var(--default-font-color);

      @include k-transition-3;

      &::placeholder {
        color: var(--default-placeholder-font-color);
      }
    }

    .k-text-field__icon {
      margin-right: var(--spacing-8);
      width: 100%;
    }
  }
  // endregion


  // region [Disabled]
  &.k-text-field--disabled, &.k-text-field--disabled {
    color: var(--default-disabled-font-color);

    .k-text-field__label__container {
      .k-text-field__label__text {
        color: var(--default-disabled-font-color);
      }
    }

    .k-text-field__input__container {
      border-color: var(--default-disabled-font-color);
      cursor: not-allowed;

      &:hover {
        border-color: var(--default-disabled-font-color);
      }

      .k-text-field__input {
        color: var(--default-disabled-font-color);
        cursor: not-allowed;
      }
    }
  }
  // endregion


  // Type: Password
  &.k-text-field__input--password {

    &.k-text-field--large .k-text-field__input__container > .k-text-field__input {
      letter-spacing: 4px;
    }

    &.k-text-field--medium .k-text-field__input__container > .k-text-field__input {
      letter-spacing: 2px;
    }

    &.k-text-field--small .k-text-field__input__container > .k-text-field__input {
      letter-spacing: 1px;
    }
  }

  // Type: Clearable
  &.k-text-field__input--clearable {

  }


  // region [Sizes]
  &.k-text-field--medium {

    .k-text-field__label__container {
      top: -6px;
      left: 8px;

      .k-text-field__label__text {
        @include k-label-2;
        line-height: 1;
      }
    }

    .k-text-field__input__container {
      min-width: 300px;
      width: 300px;

      .k-text-field__input {
        @include k-body-2;
        min-height: $k-text-field-medium-height;
        padding: 0 var(--spacing-12);
      }

      .k-text-field__label__left-action {
        padding-left: var(--spacing-12);
      }

      .k-text-field__label__right-action {
        padding-right: var(--spacing-12);
      }

      .k-text-field__label__left-action, .k-text-field__label__right-action {
        @include k-label-2;
      }

      //.k-text-field__password-icon {
      //  min-width: 16px; min-height: 16px;
      //}
      //.k-text-field__visibility-icon {
      //  min-width: 16px; min-height: 16px;
      //}
      //.k-text-field__clearable-icon {
      //  min-width: 16px; min-height: 16px;
      //}
    }
  }

  &.k-text-field--small {

    .k-text-field__label__container {
      top: -5px;
      left: 8px;

      .k-text-field__label__text {
        @include k-label-3;
        line-height: 1;
      }
    }

    .k-text-field__input__container {
      min-width: 260px;
      width: 260px;

      .k-text-field__input {
        @include k-body-3;
        min-height: $k-text-field-small-height;
        padding: 0 var(--spacing-8);
      }

      .k-text-field__label__left-action {
        padding-left: var(--spacing-8);
      }

      .k-text-field__label__right-action {
        padding-right: var(--spacing-8);
      }

      .k-text-field__label__left-action, .k-text-field__label__right-action {
        @include k-body-3;
      }
    }
  }
  // endregion
}

// region [Dark Mode]
.#{$dark-class-name} .k-text-field {

  color: var(--dark-font-color);

  &.k-text-field--disabled, &.k-text-field--disabled {

    .k-text-field__input__container {

      &:hover { border-color: var(--dark-hover-border-color); }
      .k-text-field__input { color: var(--dark-disabled-font-color) }
    }
  }

  &:hover, &:focus-within {
    .k-text-field__label__container > .k-text-field__label__text {
      color: var(--dark-font-color);
    }

    .k-text-field__input__container {
      border-color: var(--white-color);
    }
  }

  .k-text-field__label__container {
    background-color: var(--dark-default-background-color);

    .k-text-field__label__text { color: var(--dark-border-color); }
    &:before { background-color: var(--dark-default-background-color); }
  }

  .k-text-field__input__container {
    border: 1px solid var(--dark-border-color);
    border-radius: var(--default-border-radius);
    background: var(--dark-default-background-color);
    caret-color: var(--white-color);


    .k-text-field__input {
      color: var(--dark-font-color);

      &::placeholder { color: var(--dark-placeholder-font-color); }
    }
  }
}


// endregion
