// region [Component Tokens]

$modal-text-color: $kku-text-color-primary;

$modal-overlay-z-index: $kku-modal-overlay-z-index;
$modal-content-z-index: $kku-modal-content-z-index;

$modal-content-width-small: 640px;
$modal-content-width-medium: 824px;
$modal-content-width-large: 1040px;

$modal-content-border-color: $kku-gray-color-300;
$modal-content-background-color: $kku-background-color-default;
$modal-content-border-radius: $kku-border-radius-default;
$modal-content-box-shadow: $kku-box-shadow-default;

$modal-overlay-background-color: $kku-gray-color-900;
$modal-overlay-background-color-dark: $kku-gray-color-200;
$modal-overlay-opacity: 0.48;

$modal-content-header-text-size: $kku-gray-color-900;

// endregion

.k-modal {
  position: fixed;
  top: 0;
  left: 0;
  width: 100dvw;
  height: 100dvh;
  color: $modal-text-color;

  .k-modal__container {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 100%;
    background-color: $modal-content-background-color;
    border-radius: $modal-content-border-radius;
    box-shadow: $modal-content-box-shadow;
    z-index: $modal-content-z-index;
    overflow: hidden;

    &.k-modal__container--small { max-width: $modal-content-width-small; }
    &.k-modal__container--medium { max-width: $modal-content-width-medium; }
    &.k-modal__container--large { max-width: $modal-content-width-large; }

    .k-modal__container__header {
      display: flex;
      justify-content: space-between;
      align-items: center;
      width: 100%;
      padding: $kku-spacing-12 $kku-spacing-16;
      border-bottom: 0.5px solid $modal-content-border-color;

      .k-modal__container__header__text {
        @include kku-text-large;
        font-weight: bold;
      }
    }

    .k-modal__container__content {
      padding: $kku-spacing-12 $kku-spacing-16;
      @include kku-text-medium;
    }

    &.k-modal__container--no-title {
      .k-modal__container__content { padding: $kku-spacing-16; }
    }

    .k-modal__container__footer {
      display: flex;
      justify-content: center;
      align-items: center;
      gap: 8px;
      padding: 0 $kku-spacing-16 $kku-spacing-12 $kku-spacing-16;
    }
  }

  .k-modal__overlay {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: $modal-overlay-z-index;

    &.k-modal__overlay--active {
      background-color: $modal-overlay-background-color;
      opacity: $modal-overlay-opacity;
    }

    &.k-modal__overlay--transparent {
      background-color: transparent;
      opacity: 0;
    }
  }
}

.#{$kku-dark-mode-signature} .k-modal {

  .k-modal__overlay.k-modal__overlay--active {
    background-color: $modal-overlay-background-color-dark;
  }
}
