
.k-checkbox-group {
    display: inline-flex;
    justify-content: space-between;
    align-items: center;
    gap: $k-spacing-8;


    &.k-checkbox-group--row {
        flex-direction: row;
    }

    &.k-checkbox-group--column {
        flex-direction: column;
        align-items: flex-start
    }

    &.k-checkbox-group--small { gap: $k-spacing-12; }
    &.k-checkbox-group--medium { gap: $k-spacing-14; }
    &.k-checkbox-group--large { gap: $k-spacing-16; }
}
