@use '../../../styles/Entry' as *;

// region [Component Tokens]

// Error
//$button-error-text-color-default: $kku-white-color;
//$button-error-text-color-hover: $kku-white-color;
//$button-error-text-color-disabled: $kku-slate-color-300;
//
//$button-error-background-color-default: $kku-error-color-default;
//$button-error-background-color-hover: $kku-error-color-hover;
//$button-error-background-color-disabled: $kku-error-color-disabled;
//
//$button-error-border-color-default: $kku-error-color-default;
//$button-error-border-color-hover: $kku-error-color-hover;
//$button-error-border-color-disabled: $kku-error-color-disabled;
// endregion


.k-button {
  position: relative;
  display: inline-flex;
  justify-content: center;
  align-items: center;

  margin: 0;
  border-width: 1px;
  border-style: solid;
  border-radius: $kku-border-radius-default;
  cursor: pointer;
  overflow: hidden;
  user-select: none;
  @include kku-focus-visible;
  @include kku-transition;
  transition-property: background, border-color;

  & + & {
    margin-left: $kku-spacing-8;
  }

  &.k-button--disabled {
    cursor: not-allowed;
  }

  // region [Variant]

  &.k-button--outlined {
    color: $kku-text-color-primary;
    border-color: $kku-border-color-default;
    background: $kku-background-color-default;

    &:hover:not(.k-button--disabled) {
      border-color: $kku-slate-color-700;
      background: $kku-background-color-hover;
    }

    &.k-button--disabled {
      color: $kku-text-color-disabled;
      border-color: $kku-border-color-disabled;
      background: $kku-background-color-disabled;
    }
  }

  &.k-button--solid {
    color: $kku-white-color;
    border-color: $kku-black-color;
    background-color: $kku-black-color;

    &:hover:not(.k-button--disabled) {
      border-color: $kku-border-color-hover;
      background: linear-gradient(
                      0deg,
                      #{rgba(255, 255, 255, 0.15)} 0%,
                      #{rgba(255, 255, 255, 0.15)} 100%
      ),
      #{$kku-black-color};
    }

    &.k-button--disabled {
      color: $kku-slate-color-500;
      border-color: $kku-slate-color-900;
      background: $kku-slate-color-900;
    }
  }

  &.k-button--primary {
    color: $kku-white-color;
    border-color: $kku-primary-color-default;
    background-color: $kku-primary-color-default;

    &:hover {
      color: $kku-white-color;
      border-color: $kku-primary-color-hover;
      background-color: $kku-primary-color-hover;
    }

    &.k-button--disabled {
      color: $kku-slate-color-300;
      border-color: $kku-primary-color-disabled;
      background-color: $kku-primary-color-disabled;
    }
  }

  &.k-button--subtle {
    color: $kku-text-color-primary;
    border-color: $kku-slate-color-200;
    background: $kku-slate-color-200;;

    &:hover:not(.k-button--disabled) {
      border-color: $kku-slate-color-300;
      background: $kku-slate-color-300;
    }

    &.k-button--disabled {
      color: $kku-slate-color-600;
    }
  }

  &.k-button--plain {
    color: $kku-text-color-primary;
    border-color: transparent;
    background: transparent;

    &.k-button--disabled {
      color: $kku-text-color-disabled;
    }
  }


  //&.k-button--error {
  //  color: $button-error-text-color-default;
  //  border-color: $button-error-border-color-default;
  //  background-color: $button-error-background-color-default;
  //
  //  &:hover {
  //    color: $button-error-text-color-hover;
  //    border-color: $button-error-border-color-hover;
  //    background-color: $button-error-background-color-hover;
  //  }
  //
  //  &.k-button--disabled {
  //    color: $button-error-text-color-disabled;
  //    border-color: $button-error-border-color-disabled;
  //    background-color: $button-error-background-color-disabled;
  //  }
  //}

  // endregion

  // region [Size]
  &.k-button--small {
    height: $kku-element-height-small;
    padding: 0 $kku-spacing-12;
    @include kku-text-small;
  }

  &.k-button--medium {
    height: $kku-element-height-medium;
    padding: 0 $kku-spacing-20;
    @include kku-text-medium;
  }
  // endregion
}

.#{$kku-dark-mode-signature} .k-button {
}
