
.sb-main-padded.sb-show-main.dark {
    background-color: $k-dark-background-color !important;
}

.sb-show-main.sb-main-padded {
    padding: 16px;
}

.dark :is(h1, h2,h3,h4,h5) {
    color: #fff !important;
}
