@use "/src/styles/init" as *;

// region [Component Token]

$k-icon-light-color: $kku-gray-color-900;

$k-icon-size-large: 42px;
$k-icon-size-medium: 36px;
$k-icon-size-small: 28px;

// endregion


.k-icon {
  display: inline-flex;
  justify-content: center;
  align-items: center;
  color: $k-icon-light-color;
  fill: $k-icon-light-color;
  user-select: none;

  &.k-icon--clickable { cursor: pointer; }
  &.k-icon--disabled { cursor: not-allowed; }

  svg {
    width: 100%;
    height: 100%;
  }

  // Sizes
  &.k-icon--large > svg {
    font-size: $k-icon-size-large;
    width: $k-icon-size-large;
    height: $k-icon-size-large;
  }

  &.k-icon--medium > svg {
    font-size: $k-icon-size-medium;
    width: $k-icon-size-medium;
    height: $k-icon-size-medium;
  }

  &.k-icon--small > svg {
    font-size: $k-icon-size-small;
    width: $k-icon-size-small;
    height: $k-icon-size-small;
  }
}