.k-select {
    position: relative;
    overflow: hidden;

    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: $k-spacing-10;

    white-space: nowrap;
    border: 1px solid $k-border-default-color;
    border-radius: $k-border-radius-default;
    background: $k-white-color;
    cursor: pointer;
    z-index: $k-select-z-index;
    transition-property: border-color;

    @include k-transition-3;

    &:hover { border-color: $k-primary-color; }

    .k-select__current__label__arrow-icon { @include k-transition-3; }

    &.k-select--open {
        overflow: visible;

        .k-select__current__label__arrow-icon { transform: rotate(180deg); }
        .k-select__menu-list { height: auto; }
    }

    .k-select__menu-list {
        position: absolute;
        top: calc(100% + $k-spacing-8);
        left: 0;
        width: 100%;
        height: 0;
        border: 1px solid $k-border-default-color;
        background-color: $k-white-color;
        border-radius: $k-border-radius-default;
        transition-property: height;

        @include k-transition-3;

        .k-select__menu-list__item {
            width: 100%;
            white-space: nowrap;
            cursor: pointer;
            border-bottom: 1px solid $k-gray-color-100;

            &:hover { background: $k-white-hover-color; }
            &:last-child { border: none; }
        }
    }

    // Size
    &.k-select--large {

        min-width: 120px;
        padding: $k-spacing-10 $k-spacing-10 $k-spacing-10 $k-spacing-16;
        @include k-label-1;

        .k-select__menu-list {
            .k-select__menu-list__item {
                padding: $k-spacing-10 $k-spacing-10;
                @include k-label-1;
            }
        }
    }
    &.k-select--medium {

        min-width: 100px;
        padding: $k-spacing-8 $k-spacing-12;
        @include k-label-2;

        .k-select__menu-list {
            .k-select__menu-list__item {
                padding: $k-spacing-8 $k-spacing-12;
                @include k-label-2;
            }
        }

    }
    &.k-select--small {

        min-width: 80px;
        padding: $k-spacing-6 $k-spacing-8;
        @include k-label-3;

        .k-select__menu-list {
            .k-select__menu-list__item {
                padding: $k-spacing-6 $k-spacing-8;
                @include k-label-3;
            }
        }
    }

}

.#{$k-dark-class-name} .k-select {

    color: $k-dark-mode-font-color;
    border: 1px solid $k-dark-mode-border-default-color;
    border-radius: $k-border-radius-default;
    background: $k-dark-mode-background-default-color;


    .k-select__menu-list {
        border-color: $k-dark-mode-border-default-color;
        background-color: $k-dark-mode-background-default-color;

        .k-select__menu-list__item {
            border-color: $k-gray-color-800;
            &:hover { background: $k-dark-mode-background-hover-color; }
        }
    }
}
