.k-select {
    position: relative;
    overflow: hidden;

    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: $k-spacing-8;
    white-space: nowrap;
    cursor: pointer;

    border: 1px solid $k-border-default-color;
    border-radius: $k-border-radius-default;
    background: $k-white-color;

    .k-select__current__label__arrow-icon {
        @include k-transition-3;
    }

    &.k-select--open {
        overflow: visible;

        .k-select__current__label__arrow-icon {
            transform: rotate(180deg);
        }

        .k-select__menu-list {
            height: auto;
        }
    }

    .k-select__menu-list {
        position: absolute;
        top: calc(100% + $k-spacing-8);
        left: 0;
        width: 100%;
        height: 0;
        border: 1px solid $k-border-default-color;
        background-color: $k-white-color;
        border-radius: $k-border-default-color;
        @include k-transition-3;
        transition-property: height;

        .k-select__menu-list__item {
            cursor: pointer;
            width: 100%;
            white-space: nowrap;
        }
    }

    // Size
    &.k-select--large {

        min-width: 120px;
        padding: $k-spacing-10 $k-spacing-10 $k-spacing-10 $k-spacing-16;
        @include k-label-1;


        .k-select__menu-list {
            .k-select__menu-list__item {
                padding: $k-spacing-10 $k-spacing-10;
                @include k-label-1;
            }
        }
    }
    &.k-select--medium {

        min-width: 100px;
        padding: $k-spacing-8 $k-spacing-12;
        @include k-label-2;

        .k-select__menu-list {
            .k-select__menu-list__item {
                padding: $k-spacing-8 $k-spacing-12;
                @include k-label-2;
            }
        }

    }
    &.k-select--small {

        min-width: 80px;
        padding: $k-spacing-6 $k-spacing-8;
        @include k-label-3;

        .k-select__menu-list {
            .k-select__menu-list__item {
                padding: $k-spacing-6 $k-spacing-8;
                @include k-label-3;
            }
        }
    }

}
