@use '../../../styles/Entry' as *;


.k-dropdown {

  .k-dropdown__trigger {
    display: inline-flex;
    justify-content: center;
    align-items: center;
    @include kku-focus-visible;
  }

  .k-dropdown__content {
    &:focus-visible {
      outline: 0;
    }
  }
}