@use '../../../styles/Entry' as *;

// region [Component Tokens]

$modal-text-color: $kku-text-color-default;

$modal-content-z-index: $kku-modal-content-z-index;

$modal-content-width-small: 640px;
$modal-content-width-medium: 824px;
$modal-content-width-large: 1040px;

$modal-content-border-color: $kku-slate-color-300;
$modal-content-background-color: $kku-background-color-default;
$modal-content-border-radius: $kku-border-radius-default;
$modal-content-box-shadow: $kku-box-shadow-default;

$modal-content-header-text-size: $kku-slate-color-900;

// endregion

.k-modal {
  position: fixed;
  width: 100%;
  color: $modal-text-color;
  border-radius: $modal-content-border-radius;
  box-shadow: $modal-content-box-shadow;
  z-index: $modal-content-z-index;
  overflow: hidden;

  &.k-modal--small { max-width: $modal-content-width-small; }
  &.k-modal--medium { max-width: $modal-content-width-medium; }
  &.k-modal--large { max-width: $modal-content-width-large; }

  .k-modal__container {
    width: 100%;
    background-color: $modal-content-background-color;



    .k-modal__container__header {
      display: flex;
      justify-content: space-between;
      align-items: center;
      width: 100%;
      padding: $kku-spacing-12 $kku-spacing-16;
      border-bottom: 0.5px solid $modal-content-border-color;

      .k-modal__container__header__text {
        @include kku-text-large;
        font-weight: bold;
      }
    }

    .k-modal__container__content {
      padding: $kku-spacing-12 $kku-spacing-16;
      @include kku-text-medium;
    }

    &.k-modal__container--no-title {
      .k-modal__container__content { padding: $kku-spacing-16; }
    }

    .k-modal__container__footer {
      display: flex;
      justify-content: center;
      align-items: center;
      padding: 0 $kku-spacing-16 $kku-spacing-12 $kku-spacing-16;
    }
  }
}

@media screen and (max-width: #{$modal-content-width-large}) {
  .k-modal.k-modal--large {
    max-width: calc(100dvw - #{$kku-spacing-32});
  }
}

@media screen and (max-width: #{$modal-content-width-medium}) {
  .k-modal.k-modal--medium {
    max-width: calc(100dvw - #{$kku-spacing-24});
  }
}

@media screen and (max-width: #{$modal-content-width-small}) {
  .k-modal.k-modal--small {
    max-width: calc(100dvw - #{$kku-spacing-16});
  }
}
